<!-- if question=I am going to work then return Great! -->
<!-- if question=is a question (ends with ?) return Silly question, get dressed and go to work!-->
<!-- else then I don't care, get dressed and go to work! -->

<h1>Stupid coaching</h1>

<div>
  <p> <%= @question %><p>
  <p> -You </p>
</div>
<div>
  <p><strong><%= @answer %></strong> </p>
  <p> -Your Coach </p>
</div>

<%= link_to "ask another question", question_path %>


